/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-12-2016, 22:05:24
    Author     : KFU24KLMP
*/

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
}

button{
    width: 100%;
}

.presets{
    width: 10vw;
    height: 50%;
    position: absolute;
    
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    
}

.presets .content{
    width: 100%;
    padding: 1% 5% 1% 5%;
}

.presets .content h2{
    margin: 0;
    padding: 0;
    text-align: center;
}

.presets .content hr{
    margin: 0;
    padding: 0;
}

.lightbulb{
    width: 37px;
    height: 60px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
}

.ON{
    background-color: #999999;
}

.OFF{
    background-color: #8c8c8c;
}


.lightbulb img{
    height: 100%;
    margin-left: 3%;
}

.lightbulb form{
    height: 100%;
    width: 100%;
    margin-left: 3%;
}

.houseOuter{
    width: 70%;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.grund{
    width: 60vw;
    height: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-style: solid;
    border-width: 1px;
    float: left;
    
}

.innerShadow{
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.75);
}

.innerShadow2{
    box-shadow: inset 2px -2px 0px 0px rgba(0,0,0,0.75);
}

.left{
    width: 40%;
    height: 100%;
    float: left;
}

.right{
    width: 60%;
    height: 100%;
    float: left;
}

.L0{
    float: left;
    height: 100%;
    position: relative;
}

.R0{
    float: left;
    height: 100%;
    position: relative;
}

.L1{
    float: left;
    height: 100%;
    position: relative;
}

.R1{
    float: left;
    height: 100%;
    position: relative;
}

.left .top{
    height: 40%;
    width: 100%;
}

.left .top .L0{
    width: 55%;
    position: relative;
}

.left .top .R0{
    width: 45%;
}

.left .top .R0 .L1{
    width: 60%;
}

.left .top .R0 .R1{
    width: 40%;
}

.left .middle{
    height: 20%;
    width: 100%;
}

.left .middle .L0{
    width: 30%;
}

.left .middle .R0{
    width: 70%;
}

.left .bottom{
    height: 40%;
    width: 100%;
}

.left .bottom .L0{
    width: 50%;
}

.left .bottom .R0{
    width: 50%;
}

.right .L0{
    width: 35%;
    box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.75);
}

.right .R0{
    width: 65%;
}

.right .R0 .B0{
    height: 50%;
    width: 100%;
    box-shadow: inset -2px -2px 0px 0px rgba(0,0,0,0.75);
    position: relative;
}

.right .R0 .T0{
    height: 50%;
    width: 100%;
}

.right .R0 .T0 .L1{
    width: 50%;
}

.right .R0 .T0 .L1 .T1{
    height: 60%;
    width: 100%;
    position: relative;
}

.right .R0 .T0 .L1 .B1{
    height: 40%;
    width: 100%;
    position: relative;
}

.right .R0 .T0 .R1{
    width: 50%;
}